{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block body %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="jumbotron">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="col-sm-offset-2" type="submit" value="Добави">
        {{ form_end(form) }}
    </div>
    <div class="jumbotron">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    Име
                </th>
                <th>
                    Позиция
                </th>

            </tr>
            {% for examiner in examiners %}
                <tr>
                    <td>
                        {{ examiner.name }}
                    </td>
                    <td>
                        {{ examiner.position }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}