{% block contract %}
    {#Изглед на договора#}
    <div id="contract">
        <p style="text-align: center;font-size: 22pt;">
            <strong><em><u>
                        <!--Д О Г О В О Р-->
                        &nbsp;Д&nbsp;&nbsp;О&nbsp;&nbsp;&nbsp;Г&nbsp;&nbsp;&nbsp;О&nbsp;&nbsp;&nbsp;В&nbsp;&nbsp;&nbsp;О&nbsp;&nbsp;&nbsp;Р
                    </u></em></strong>
        </p>
        <p style="text-align: center;">
            &nbsp;
        </p>
        <p style="text-align: center;">
            <strong><em><u>
                        ЗА&nbsp;&nbsp;НАЕМ&nbsp;&nbsp;НА&nbsp;&nbsp;ЗЕМЕДЕЛСКА&nbsp;&nbsp;ЗЕМЯ
                    </u></em></strong></p>
        <p style="text-align: center;">
            <strong><em>
                    &nbsp;
                </em></strong></p>
        <p style="text-align: center;">
            <strong><em>
                    №</em>&nbsp;&hellip;&hellip;&hellip; /&nbsp;&hellip;&hellip;&hellip; год.
            </strong>
        </p>
        <p>&nbsp;</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Днес&nbsp;&hellip;&hellip;&hellip;&nbsp;год., в град Велинград на основание
            <span class="placeholder">
                    {{ data.reason }},
                </span>
            във връзка с Решения №&nbsp;
            <span class="placeholder">
                    {{ data.resheniq }}
                </span>
            &nbsp;на Общински съвет Велинград и молба вх.№&nbsp;
            <span class="placeholder">
            {{ data.application }}
        </span>
            &nbsp;се сключи настоящия договор между :
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            1. Община Велинград с ЕИК 000351580, представлявана от&nbsp;
            <span class="placeholder">
            {{ data.mayor.name }}
        </span>
            ,&nbsp;наричан по-долу за краткост&nbsp;<strong>НАЕМОДАТЕЛ&nbsp;</strong>от една страна и</p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            2.
            <span class="placeholder">
            {{ data.holder.name }} с ЕГН/ЕИК {{ data.holder.egn }} и адрес {{ data.holder.addres }}
        </span>
            , наричан по-долу за краткост&nbsp;<strong>НАЕМАТЕЛ</strong>&nbsp;от друга страна.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Страните се договориха за следното :
            <br>
            І. Предмет на договора:
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.1.<strong>НАЕМОДАТЕЛЯТ</strong>&nbsp;предоставя на&nbsp;<strong>НАЕМАТЕЛЯ&nbsp;</strong>за временно и възмездно ползване общинска земеделска земя,
            &nbsp;представляващa имоти&nbsp;:</p>
        <ol>

            {% set totalArea = 0 %}
            {% set totalPrice = 0 %}
            {% for selectedland in lands %}
                <li class="placeholder">
                    Имот с планоснимачен № {{ selectedland.land.num }}, м. {{ selectedland.land.mest.name }}, зем. {{ selectedland.land.zem.name }}, НТП - {{
                    selectedland.land.ntp.name }}, с площ {{ selectedland.area }} дка. и цена за дка - {{ selectedland.price }}лв./дка;
                    <br>
                    {{ selectedland.neighbours }}
                    {% set totalArea = totalArea + selectedland.area %}
                    {% set totalPrice = totalPrice + selectedland.price*selectedland.area %}
                </li>
            {% endfor %}
        </ol>
        <span class="placeholder">
            С обща площ {{ totalArea }} дка.
        </span>
        <p>
            За срок от&nbsp;<strong>
                {% set interval = data.expire.diff(data.start)%}
                {% if interval|date('%y') > 1 %}
                    {{ interval|date('%y') + 1}} стопански години
                {% else %}
                    една стопанска година
                {% endif %}
                ,&nbsp;</strong>считано от
            &nbsp;
            <span class="placeholder">
            {{ data.start|date('d.m.y') }}
                &nbsp;год. до&nbsp;
                {{ data.expire|date('d.m.y') }}
                &nbsp;год.
        </span>
        </p>
        <p>
            ІІ.Цена :
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.2.<strong>НАЕМОДАТЕЛЯТ</strong>&nbsp;предоставя на&nbsp;<strong>НАЕМАТЕЛЯ</strong>&nbsp;
            посочения по-горе имот срещу&nbsp;&nbsp;годишен наем в размер на
            &nbsp;
            <span class="placeholder">
            {{ totalPrice | number_format(2,'.')}}
        </span>
            &nbsp;лева
            /---------------------------------- лв. и ---------------------------------- ст./
            за определения срок на ползване.</p>
        <p>ІІІ.Права и задължения :</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.3.<strong>НАЕМОДАТЕЛЯТ</strong>&nbsp;
            има право да получи таксата за текущата стопанска година
            по следния начин: първа вноска в размер на половината от наемната цена в
            срок до 10 юни на стопанската година, а втора вноска останалата част от
            наемната цена, не по-късно от тридесет дни преди изтичане на стопанската
            година, както и да предоставя периодично информация и методически указания
            на ползвателите относно необходимите мероприятия по поддържане и опазване
            на земеделската земя.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.4.<strong>НАЕМАТЕЛЯТ</strong>&nbsp;
            задължително трябва да бъде регистриран като земеделски производител,
            да ползва имота само по неговото предназначение
        </p>
        <p>
            съгласно чл.1 от договора,
            да го поддържа в добро земеделско и екологично състояние и не променя начина на трайно ползване,
            да не го преотстъпва на трети лица,
            както и да не извършва строителни работи, за които се изисква разрешение за строеж,
            освен с предварително писмено съгласие на&nbsp;<strong>НАЕМОДАТЕЛЯТ</strong>.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.5.Действието на настоящия договор може да бъде прекратено от всяка от страните по него с
            едномесечно писмено предизвестие на ответната страна.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.6. Размера на годишната наемна цена може да се коригира в зависимост
            от икономическите условия в страната при инфлация повече от 5% с
            инфлационния индекс по официални данни на НСИ.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Чл.7. При неплащане в срок на наемната цена определена в чл. 2 от
            Договора, НАЕМАТЕЛЯТ дължи лихва в размер 0,1 на сто върху стойността на
            неизпълнението за всеки ден просрочие и неустойка в размер 10 на сто от
            дължимата годишна наемна цена.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Настоящият договор се сключи в 4/четири/ еднообразни екземпляра – по
            един за всяка от странитe и два за Служба по вписванията при РС Велинград.
        </p>
        <p>&nbsp;</p>
        <p>
            <strong>НАЕМОДАТЕЛ :
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                НАЕМАТЕЛ :</strong>
        </p>
        <p >
            <strong class="placeholder">
                {{ data.mayor.name }}
            </strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong class="placeholder">
                {{ data.holder.name }}
            </strong>
        </p>
        <p >
            Кмет на Община Велинград
        </p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p>Изготвил :</p>
        <p class="placeholder">
            {{ data.user.name }}<br/>
            {{ data.user.position }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>

        <p>Съгласувал :</p>
        <p class="placeholder">
            {{ data.examiner.name }}<br/>
            {{ data.examiner.position }}
        </p>


    </div>
{% endblock %}