{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron" style="padding: 20px">
        {{ form_start(form) }}
    {{ form_label(form.num) }}{{ form_widget(form.num) }}{{ form_label(form.date) }}{{ form_widget(form.date) }}
        <input type="submit" value="Добави">
        {{ form_end(form) }}
    </div>
{% endblock %}