{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <div  style="margin-left:80px;margin-right:80px; padding : 20px; min-width : 300px;" class="jumbotron">
        <legend>Промяна на профила</legend>

        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.name) }}
        {{ form_row(form.position) }}
        <input type="submit" class="btn btn-success col-sm-offset-2"  value="ok">
        {{ form_end(form) }}
    </div>

{% endblock %}